.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color:white;
    width:70px;
    z-index: 200;
    padding-top:3px;
}

.sidebar-link{
    
    
    height:76px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:opacity 0.15;
    flex-direction:column;
    
    cursor:pointer;
    
}

.sidebar-link:hover{
    background-color:rgb(235, 235, 235);
}

.sidebar-link img{
    height:25px;
    margin-bottom:5px;
}

.sidebar-link div{
    font-family:Roboto,Arial;
    font-size:10px;

}